@font-face {
  font-family: 'rbicon';
  src: url(chrome-extension://dipiagiiohfljcicegpgffpbnjmgjcnf/fonts/rbicon.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #FAEBD7;
  margin: 0;
}

.header {
  width: 100%;
  background-color: #f78;
}

.header .bd {
  margin: 0 auto;
  padding: 0 3%;
  height: 65px;
  max-width: 1900px;
}

.nav {
  margin-left: 20px;
}

.nav,
.nav .item {
  float: left;
  height: 60px;
}

.nav .item {
  position: relative;
  width: 100px;
}

.logo {
  float: left;
  color: #fff;
  font-size: 2pc;
  line-height: 60px;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.mainMap {
  width: 900px;
  height: 600px;
  border: 1px solid #000;
}

.mainWrap {
  display: flex;
  justify-content: center;
}