<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>SpiderHouse</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="static/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="static/css/rent_data.css">
</head>

<body>
  <div class="header">
    <div class="bd">
      <a href="http://112.74.58.112:8053/" class="logo" title="spiderhouse">SpiderHouse</a>
      <ul class="nav">
        <li class="item">
          <a href="http://112.74.58.112:8000/home">首页</a>
        </li>
        <li class="item">
          <a href="http://112.74.58.112:8000/rent">租房</a>
        </li>
        <li class="item">
          <a href="http://112.74.58.112:8000/newhouse">新房</a>
        </li>
      </ul>
    </div>
  </div>
  <main class="main">
    <form class="layui-form flexCenter" action="">
      <div class="layui-form-item">
        <label class="layui-form-label">房源区域：</label>
        <div class="layui-input-block">
          <select name="city" lay-verify="">
            <option value="">请选择城市</option>
            <option value="bj">北京</option>
            <option value="sh">上海</option>
            <option value="gz">广州</option>
            <option value="sz">深圳</option>
            <option value="cq">重庆</option>
            <option value="cd">成都</option>
            <option value="wh">杭州</option>
            <option value="gz">武汉</option>
            <option value="su">苏州</option>
            <option value="xa">西安</option>
            <option value="tj">天津</option>
            <option value="nj">南京</option>
            <option value="zz">郑州</option>
            <option value="cs">长沙</option>
            <option value="qd">青岛</option>
            <option value="dg">东莞</option>
          </select>
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
    </form>
    <div class="flexCenter">
      <table class="layui-hide layui-bg-black" id="table"></table>
    </div>
  </main>

  <script src="../static/layui.js" charset="utf-8"></script>
  <script>

    let fetchUrl = "http://112.74.58.112:8000/newhouse/?city=bj&";
    const renderOpt = {
      elem: '#table',
      size: 'lg', //大尺寸的表格
      skin: 'line', //行边框风格
      url: fetchUrl,
      cols: [[
      { field: 'name', align: 'center', title: '楼盘名称', templet: 
        function(d) {
                return '<a href=' + d.url + ' class="layui-table-link" target="_blank">' + d.basic_info.name + '</a>'}}
        , { field: 'price', align: 'center',  title: '价格', templet: function(d) {return d.basic_info.price} }
        , { field: 'school', align: 'center', title: '附近学校', templet: function(d) {return d.around_info.school} }
        , { field: 'hospital', align: 'center', title: '附近医院', templet: function(d) {return d.around_info.hospital} }
        , { field: 'market', align: 'center', title: '附近超市', templet: function(d) {return d.around_info.market} }
      ]],
      page: true,
      limit: 10,
      width: 1080,
    };

    layui.use('form', function () {
      var form = layui.form;

      //监听提交
      form.on('submit(formDemo)', function (data) {
        if (data.field.city === '') {
          fetchUrl = "http://112.74.58.112:8000/newhouse/?city=bj";
        } else {
          const baseUrl = 'http://112.74.58.112:8000/newhouse/';
          const value = data.field.city;
          const query = '?city=' + value;
          fetchUrl = baseUrl + query; 
          console.log(fetchUrl);
        }
        renderOpt.url = fetchUrl;
        layui.table.reload('table', renderOpt);
        return false;
      });
    });
    layui.use('table', function () {
      var table = layui.table;
      table.render(renderOpt)
    });
  </script>
</body>

</html>
